<div class="container pad-25 slide" id="about-content" style="line-height: 30px;"> 
  <div class="row"> 
      <div class="col-sm-4" style="margin-bottom: 15px;"> 
          <img src="assets/images/dp.jpg" class="img-responsive img-circle dp-dimension dp-margin"> 
      </div> 
      <div class="col-sm-8 fontSourceSansPro" style="margin-top: 7px;"> 
          <b style="font-weight: 700;"><span style="color: #ea4335;">Hi, I am Arijit Patra. </span>Currently working as front end developer and user experience designer at Infosys, Pune.</b> 
          <br><br> 
          I began my career on the Earth on June 26th, 1994 in Kolkata. While I am not forced to do something I like to spend my time doing photography, meeting and talking with people, travelling, discovering new places, spending time with my laptop developing something, designing, strumming and trying to learn the guitar, watching or reading news, playing some racing games, cycling or having a plate of Biryani (the Kolkata style).
      </div> 
  </div> 
  <div> 
  </div> 
</div> 