<footer style="margin-top: 49px;">
  <div class="row">
    <div class="col-sm-12 text-center footer-social-font horizontal-gap-5">
      <a href="https://github.com/arijitpatra" class="nodeco-link" target="_blank">
        <i class="fa fa-github-square"></i>
      </a>
      <a href="https://in.linkedin.com/in/arijitpatra" class="nodeco-link" target="_blank">
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a href="https://instagram.com/arijitpatra/" class="nodeco-link" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://facebook.com/patra.arijit" class="nodeco-link" target="_blank">
        <i class="fa fa-facebook-square"></i>
      </a>
      <!--<a href="https://plus.google.com/+ArijitPatra94/" class="nodeco-link" target="_blank"><i class="fa fa-google-plus"></i></a>-->
      <!--   <i class="fa fa-skype"></i> 
                      <i class="fa fa-whatsapp"></i> -->
      <a href="https://twitter.com/arijitpatra94" class="nodeco-link" target="_blank">
        <i class="fa fa-twitter-square"></i>
      </a>
      <!-- <i class="fa fa-envelope-o"></i> -->
      <!--<a href="http://www.quora.com/Arijit-Patra-1" class="nodeco-link" target="_blank"><i class="fa quora-icon"><strong>Q</strong></i></a>-->
      <!--<a href="YouTube" class="nodeco-link" target="_blank"><i class="fa fa-youtube-play"><strong></strong></i></a>-->

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center footer-madein-font">
      <span>Made with
        <i class="fa fa-heart" style="color:#EA4335"></i> by Arijit Patra</span>
    </div>
  </div>
</footer>