<h1 style="display: none;">Arijit Patra</h1>
<!-- <div class="sidebar"></div> -->
<div class="heading">
  <div class="text-center namediv-height">
    <p class="namepara-position">
      <span class="font-primary namefontsize">
        <span class="font-bold" style="letter-spacing: 5px;">ARIJIT</span>
        <span>&nbsp;PATRA</span>
      </span>
    </p>
  </div>
  <div class="navbar navbar-default font-primary nav-margin-bottom" role="navigation" style="background: transparent;border: transparent;">
    <div class="navbar-header">
      <span class="navbar-toggle width-100" data-toggle="collapse" data-target="#navlinks">
        <i class="fa fa-bars menu-font"></i>
      </span>
    </div>
    <div class="collapse navbar-collapse width-100" id="navlinks">
      <ul class="nav navbar-nav">
        <li id="me">
          <a routerLink="/about">About</a>
        </li>
        <li id="resume" class="not-active">
          <a routerLink="/resume" class="not-active">Resume</a>
        </li>
        <li id="work" class="not-active">
          <a href="" class="not-active">Work</a>
        </li>
        <li id="photo">
          <a routerLink="/photography">Photography</a>
        </li>
        <li id="design" class="not-active">
          <a href="" class="not-active">Design</a>
        </li>
        <li id="work" class="not-active">
          <a href="" class="not-active">Achievement</a>
        </li>
        <li id="contact" class="not-active">
          <a href="" class="not-active">Contact</a>
        </li>
        <li id="blog" class="not-active">
          <a href="http://blog.arijitpatra.in" target="_blank" class="not-active">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>