@media screen and (max-width: 767px) {
    .name-for-mobile {
        display: flex;
        margin: 25px;
        margin-top: 5px;
    }
    
    .nav-for-mobile {
        display: flex;
        flex-direction: row-reverse;
        margin-top: -65px;
        margin-right: 15px;
    }

    #navlinks {
        margin-top: 50px;
        margin-left: 60px;
    }
}