<div class="container pad-25 slide" id="about-content"> 
  <div class="row"> 
      <div class="col-sm-12 text-center"> 
        <!-- <div class="canva-embed" data-height-ratio="1.2941" data-design-id="DACcN1kJ2ks" style="padding:129.41% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script><a href="https://www.canva.com/design/DACcN1kJ2ks/view?utm_content=DACcN1kJ2ks&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Arijit Patra</a> by <a href="https://www.canva.com/ari.clicks?utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">ari.clicks</a> -->
        <a href="assets/docs/Arijit Patra_Resume_+919477589925.pdf" class="nodeco-link"><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;">BORING RESUME</span></a> 
        <a href="https://drive.google.com/file/d/0B6le-pa_EhKpLUN4V0NySkc2dVhfMjFuYUFPWDZrWjd2X3dF/view?usp=sharing" class="nodeco-link resume-link"><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;">CREATIVE RESUME</span></a> 
      </div> 
      <div class="col-sm-12 text-center"><span>Last updated on April 12<sup>th</sup>, 2016</span></div> 
  </div> 
</div> 