<div class="container pad-25 slide" id="about-content"> 
  <div class="row"> 
      <div class="col-sm-12 text-center"> 
        <!-- <div class="canva-embed" data-height-ratio="1.2941" data-design-id="DACcN1kJ2ks" style="padding:129.41% 5px 5px 5px;background:rgba(0,0,0,0.03);border-radius:8px;"></div><script async src="https://sdk.canva.com/v1/embed.js"></script><a href="https://www.canva.com/design/DACcN1kJ2ks/view?utm_content=DACcN1kJ2ks&utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">Arijit Patra</a> by <a href="https://www.canva.com/ari.clicks?utm_campaign=designshare&utm_medium=embeds&utm_source=link" target="_blank">ari.clicks</a> -->
        <a href="assets/docs/ArijitPatra_Resume_+919477589925.pdf" target="_blank" class="nodeco-link resume-link"><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;">VIEW RESUME</span></a> 
        <a href="assets/docs/ArijitPatra_Resume_+919477589925.pdf" class="nodeco-link" download><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;" >DOWNLOAD</span></a> 
      </div> 
      <div class="col-sm-12 text-center"><span>Last updated on September 9<sup>th</sup>, 2018</span></div> 
  </div> 
</div> 