<div class="container pad-25 slide" id="about-content"> 
  <div class="row"> 
      <div class="col-sm-12 text-center"> 
          <a href="assets/docs/Arijit Patra_Resume_+919477589925.pdf" class="nodeco-link"><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;">BORING RESUME</span></a> 
          <a href="https://drive.google.com/file/d/0B6le-pa_EhKpLUN4V0NySkc2dVhfMjFuYUFPWDZrWjd2X3dF/view?usp=sharing" class="nodeco-link resume-link"><span class="font-primary font-bold resume-border resume-link-hover" style="margin: 10px 0px;">CREATIVE RESUME</span></a> 
      </div> 
      <div class="col-sm-12 text-center"><span>Last updated on April 12<sup>th</sup>, 2016</span></div> 
  </div> 
</div> 